#categories {
  display: flex;
  gap: 24px;
  list-style: none;
  flex-direction: column;
  padding: 24px 0;
  margin: 0 24px;
}

#categories .item {
  border-radius: 8px;
  background: #f6f6fe;
  padding: 0 16px;
  width: 392px;
}

#categories h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 16px 0;
}

#categories > li > ul {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

#categories > li > ul > li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  padding: 8px 16px;
}
