.widget {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 100px 0;
}

.widget p {
  margin-top: 0;
}

.widget button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  background: #4e75ff;
  border: none;
  cursor: pointer;
}

.widget button:focus,
.widget button:hover {
  background: #6c8cff;
}
