#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  padding: 8px 16px;
  margin-left: 24px;
}

#name-input:focus,
#name-input:hover {
  border: 1px solid #000;
  border-radius: 4px;
}

#name-input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#name-input ~ h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-left: 24px;
}
