.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  padding: 100px 0;
  margin: 0 auto;
  list-style-type: none;
}

.gallery li {
  width: calc((100% - 2 * 24px) / 3);
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
